<%= panel_with_body title: 'Bienvenid@' do %>
  <p>Bienvenido al sistema de rifas!</p>

  <p>En el menú superior puedes acceder al listado de rifas. Si todavía no tienes ninguna ruta asociada, contacta con
    el administrador para que te añada como vendedor</p>
<% end %>